@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--main-bg: radial-gradient(circle, #24246e, #06051f);
	--card-bg: #23416C;
	--white: #FFFF;
	--cyan: #00FFF7;
	--text-color: #8BACDA;
	--border-color: #2F415B;
}


body {
	overflow: hidden;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}


/* The Close Button */

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

body {
	background: var(--main-bg);
	font-family: 'Outfit', sans-serif;
	color: var(--text-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: var(--card-bg);
	max-width: 20.3125rem;
	border-radius: 0.625rem;
}

.card {
	padding: 1.25rem;
}

.image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background-color: hsla(178, 100%, 50%, 0.5);
	border-radius: 10px;
}

.top {
	border-radius: 0.625rem;
}

.title {
	font-size: 1.5rem;
	color: var(--white);
	margin-block: 1.25rem 1rem;
}

.info {
	font-size: 1.125rem;
	font-weight: 300;
}

.resource {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.625rem;
	margin-block: 1rem 0.75rem;
	border-bottom: 1px solid var(--border-color);
}

.ETH {
	color: var(--cyan);
	font-weight: 600;
	display: flex;
}

.ETH::before {
	content: url('images/icon-ethereum.svg');
	margin-right: 8px;
}

.Time {
	display: flex;
}

.Time::before {
	content: url('images/icon-clock.svg');
	margin-right: 5px;
}

.creator {
	display: flex;
	align-items: center;
}

.bottom__image {
	width: 3rem;
	border-radius: 50%;
	border: 1px solid var(--white);
	margin-right: 1rem;
}

.name {
	color: var(--white);
	text-decoration: none;
}

.name:active {
	color: var(--cyan);
}

.footer {
	font-size: 11px;
	text-align: center;
	font-weight: 300;
	margin-block: 2rem -2rem
}

.footer a {
	color: hsl(228, 45%, 44%);
	font-weight: 600;
}

.wrap {
	z-index: -1;
}

div .background,
div .background::before,
div .background::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	transform-origin: top;
	transition: all 5s linear 0s;
}

.purple {
	-webkit-animation: purple linear 30s alternate infinite;
	animation: purple linear 30s alternate infinite;
	border: 2px solid #241379;
	border-radius: 100%;
	width: 11px;
	height: 11px;
	transform: translate3d(27vw, 63vh, 0);
	z-index: 10;
}

.purple::before {
	-webkit-animation: purple-pseudo linear 15s alternate infinite;
	animation: purple-pseudo linear 15s alternate infinite;
	background: #241379;
	border: 2px solid #241379;
	width: 8px;
	height: 36px;
	transform: translate3d(-22vw, -39vh, 0) rotate(108deg);
}

.purple::after {
	-webkit-animation: purple-pseudo linear 20s alternate infinite;
	animation: purple-pseudo linear 20s alternate infinite;
	border: 2px solid #241379;
	width: 41px;
	height: 44px;
	transform: translate3d(-3vw, 18vh, 0) rotate(229deg);
}

@-webkit-keyframes purple {
	50% {
		transform: translate3d(19vw, 98vh, 0);
	}
	100% {
		transform: translate3d(80vw, 88vh, 0);
	}
}

@keyframes purple {
	50% {
		transform: translate3d(19vw, 98vh, 0);
	}
	100% {
		transform: translate3d(80vw, 88vh, 0);
	}
}

@-webkit-keyframes purple-pseudo {
	33% {
		transform: translate3d(48vw, 0vh, 0) rotate(305deg);
	}
	100% {
		transform: translate3d(-66vw, -34vh, 0) rotate(315deg);
	}
}

@keyframes purple-pseudo {
	33% {
		transform: translate3d(48vw, 0vh, 0) rotate(305deg);
	}
	100% {
		transform: translate3d(-66vw, -34vh, 0) rotate(315deg);
	}
}

.medium-blue {
	-webkit-animation: medium-blue linear 30s alternate infinite;
	animation: medium-blue linear 30s alternate infinite;
	border: 2px solid #2185bf;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	transform: translate3d(47vw, 59vh, 0);
	z-index: 2;
}

.medium-blue::before {
	-webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
	animation: medium-blue-pseudo linear 15s alternate infinite;
	background: #2185bf;
	border: 2px solid #2185bf;
	width: 34px;
	height: 23px;
	transform: translate3d(-16vw, 8vh, 0) rotate(287deg);
}

.medium-blue::after {
	-webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
	animation: medium-blue-pseudo linear 20s alternate infinite;
	border: 2px solid #2185bf;
	width: 47px;
	height: 18px;
	transform: translate3d(-18vw, -13vh, 0) rotate(102deg);
}

@-webkit-keyframes medium-blue {
	50% {
		transform: translate3d(32vw, 57vh, 0);
	}
	100% {
		transform: translate3d(97vw, 90vh, 0);
	}
}

@keyframes medium-blue {
	50% {
		transform: translate3d(32vw, 57vh, 0);
	}
	100% {
		transform: translate3d(97vw, 90vh, 0);
	}
}

@-webkit-keyframes medium-blue-pseudo {
	33% {
		transform: translate3d(11vw, -2vh, 0) rotate(303deg);
	}
	100% {
		transform: translate3d(-43vw, -76vh, 0) rotate(28deg);
	}
}

@keyframes medium-blue-pseudo {
	33% {
		transform: translate3d(11vw, -2vh, 0) rotate(303deg);
	}
	100% {
		transform: translate3d(-43vw, -76vh, 0) rotate(28deg);
	}
}

.light-blue {
	-webkit-animation: light-blue linear 30s alternate infinite;
	animation: light-blue linear 30s alternate infinite;
	border: 2px solid #1fbce1;
	border-radius: 100%;
	width: 44px;
	height: 44px;
	transform: translate3d(12vw, 35vh, 0);
	z-index: 11;
}

.light-blue::before {
	-webkit-animation: light-blue-pseudo linear 15s alternate infinite;
	animation: light-blue-pseudo linear 15s alternate infinite;
	background: #1fbce1;
	border: 2px solid #1fbce1;
	width: 33px;
	height: 38px;
	transform: translate3d(-1vw, 59vh, 0) rotate(67deg);
}

.light-blue::after {
	-webkit-animation: light-blue-pseudo linear 20s alternate infinite;
	animation: light-blue-pseudo linear 20s alternate infinite;
	border: 2px solid #1fbce1;
	width: 23px;
	height: 42px;
	transform: translate3d(82vw, -31vh, 0) rotate(280deg);
}

@-webkit-keyframes light-blue {
	50% {
		transform: translate3d(74vw, 98vh, 0);
	}
	100% {
		transform: translate3d(38vw, 99vh, 0);
	}
}

@keyframes light-blue {
	50% {
		transform: translate3d(74vw, 98vh, 0);
	}
	100% {
		transform: translate3d(38vw, 99vh, 0);
	}
}

@-webkit-keyframes light-blue-pseudo {
	33% {
		transform: translate3d(-14vw, -60vh, 0) rotate(39deg);
	}
	100% {
		transform: translate3d(-7vw, -41vh, 0) rotate(333deg);
	}
}

@keyframes light-blue-pseudo {
	33% {
		transform: translate3d(-14vw, -60vh, 0) rotate(39deg);
	}
	100% {
		transform: translate3d(-7vw, -41vh, 0) rotate(333deg);
	}
}

.red {
	-webkit-animation: red linear 30s alternate infinite;
	animation: red linear 30s alternate infinite;
	border: 2px solid #b62f56;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	transform: translate3d(98vw, 67vh, 0);
	z-index: 5;
}

.red::before {
	-webkit-animation: red-pseudo linear 15s alternate infinite;
	animation: red-pseudo linear 15s alternate infinite;
	background: #b62f56;
	border: 2px solid #b62f56;
	width: 7px;
	height: 16px;
	transform: translate3d(-30vw, -64vh, 0) rotate(50deg);
}

.red::after {
	-webkit-animation: red-pseudo linear 20s alternate infinite;
	animation: red-pseudo linear 20s alternate infinite;
	border: 2px solid #b62f56;
	width: 40px;
	height: 30px;
	transform: translate3d(-18vw, -22vh, 0) rotate(35deg);
}

@-webkit-keyframes red {
	50% {
		transform: translate3d(50vw, 73vh, 0);
	}
	100% {
		transform: translate3d(96vw, 14vh, 0);
	}
}

@keyframes red {
	50% {
		transform: translate3d(50vw, 73vh, 0);
	}
	100% {
		transform: translate3d(96vw, 14vh, 0);
	}
}

@-webkit-keyframes red-pseudo {
	33% {
		transform: translate3d(-18vw, -58vh, 0) rotate(55deg);
	}
	100% {
		transform: translate3d(-12vw, 43vh, 0) rotate(297deg);
	}
}

@keyframes red-pseudo {
	33% {
		transform: translate3d(-18vw, -58vh, 0) rotate(55deg);
	}
	100% {
		transform: translate3d(-12vw, 43vh, 0) rotate(297deg);
	}
}

.orange {
	-webkit-animation: orange linear 30s alternate infinite;
	animation: orange linear 30s alternate infinite;
	border: 2px solid #d5764c;
	border-radius: 100%;
	width: 27px;
	height: 27px;
	transform: translate3d(4vw, 32vh, 0);
	z-index: 3;
}

.orange::before {
	-webkit-animation: orange-pseudo linear 15s alternate infinite;
	animation: orange-pseudo linear 15s alternate infinite;
	background: #d5764c;
	border: 2px solid #d5764c;
	width: 28px;
	height: 45px;
	transform: translate3d(-3vw, 40vh, 0) rotate(289deg);
}

.orange::after {
	-webkit-animation: orange-pseudo linear 20s alternate infinite;
	animation: orange-pseudo linear 20s alternate infinite;
	border: 2px solid #d5764c;
	width: 46px;
	height: 44px;
	transform: translate3d(21vw, 2vh, 0) rotate(20deg);
}

@-webkit-keyframes orange {
	50% {
		transform: translate3d(76vw, 61vh, 0);
	}
	100% {
		transform: translate3d(60vw, 31vh, 0);
	}
}

@keyframes orange {
	50% {
		transform: translate3d(76vw, 61vh, 0);
	}
	100% {
		transform: translate3d(60vw, 31vh, 0);
	}
}

@-webkit-keyframes orange-pseudo {
	33% {
		transform: translate3d(-17vw, 15vh, 0) rotate(252deg);
	}
	100% {
		transform: translate3d(20vw, -29vh, 0) rotate(272deg);
	}
}

@keyframes orange-pseudo {
	33% {
		transform: translate3d(-17vw, 15vh, 0) rotate(252deg);
	}
	100% {
		transform: translate3d(20vw, -29vh, 0) rotate(272deg);
	}
}

.yellow {
	-webkit-animation: yellow linear 30s alternate infinite;
	animation: yellow linear 30s alternate infinite;
	border: 2px solid #ffd53e;
	border-radius: 100%;
	width: 37px;
	height: 37px;
	transform: translate3d(20vw, 12vh, 0);
	z-index: 12;
}

.yellow::before {
	-webkit-animation: yellow-pseudo linear 15s alternate infinite;
	animation: yellow-pseudo linear 15s alternate infinite;
	background: #ffd53e;
	border: 2px solid #ffd53e;
	width: 13px;
	height: 19px;
	transform: translate3d(52vw, 30vh, 0) rotate(3deg);
}

.yellow::after {
	-webkit-animation: yellow-pseudo linear 20s alternate infinite;
	animation: yellow-pseudo linear 20s alternate infinite;
	border: 2px solid #ffd53e;
	width: 21px;
	height: 6px;
	transform: translate3d(8vw, 43vh, 0) rotate(92deg);
}

@-webkit-keyframes yellow {
	50% {
		transform: translate3d(20vw, 69vh, 0);
	}
	100% {
		transform: translate3d(24vw, 96vh, 0);
	}
}

@keyframes yellow {
	50% {
		transform: translate3d(20vw, 69vh, 0);
	}
	100% {
		transform: translate3d(24vw, 96vh, 0);
	}
}

@-webkit-keyframes yellow-pseudo {
	33% {
		transform: translate3d(54vw, -16vh, 0) rotate(302deg);
	}
	100% {
		transform: translate3d(1vw, -1vh, 0) rotate(358deg);
	}
}

@keyframes yellow-pseudo {
	33% {
		transform: translate3d(54vw, -16vh, 0) rotate(302deg);
	}
	100% {
		transform: translate3d(1vw, -1vh, 0) rotate(358deg);
	}
}

.cyan {
	-webkit-animation: cyan linear 30s alternate infinite;
	animation: cyan linear 30s alternate infinite;
	border: 2px solid #78ffba;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	transform: translate3d(59vw, 53vh, 0);
	z-index: 8;
}

.cyan::before {
	-webkit-animation: cyan-pseudo linear 15s alternate infinite;
	animation: cyan-pseudo linear 15s alternate infinite;
	background: #78ffba;
	border: 2px solid #78ffba;
	width: 32px;
	height: 6px;
	transform: translate3d(-55vw, 12vh, 0) rotate(33deg);
}

.cyan::after {
	-webkit-animation: cyan-pseudo linear 20s alternate infinite;
	animation: cyan-pseudo linear 20s alternate infinite;
	border: 2px solid #78ffba;
	width: 8px;
	height: 5px;
	transform: translate3d(-57vw, -11vh, 0) rotate(333deg);
}

@-webkit-keyframes cyan {
	50% {
		transform: translate3d(28vw, 87vh, 0);
	}
	100% {
		transform: translate3d(73vw, 10vh, 0);
	}
}

@keyframes cyan {
	50% {
		transform: translate3d(28vw, 87vh, 0);
	}
	100% {
		transform: translate3d(73vw, 10vh, 0);
	}
}

@-webkit-keyframes cyan-pseudo {
	33% {
		transform: translate3d(68vw, -16vh, 0) rotate(292deg);
	}
	100% {
		transform: translate3d(0vw, 39vh, 0) rotate(179deg);
	}
}

@keyframes cyan-pseudo {
	33% {
		transform: translate3d(68vw, -16vh, 0) rotate(292deg);
	}
	100% {
		transform: translate3d(0vw, 39vh, 0) rotate(179deg);
	}
}

.light-green {
	-webkit-animation: light-green linear 30s alternate infinite;
	animation: light-green linear 30s alternate infinite;
	border: 2px solid #98fd85;
	border-radius: 100%;
	width: 13px;
	height: 13px;
	transform: translate3d(15vw, 26vh, 0);
	z-index: 1;
}

.light-green::before {
	-webkit-animation: light-green-pseudo linear 15s alternate infinite;
	animation: light-green-pseudo linear 15s alternate infinite;
	background: #98fd85;
	border: 2px solid #98fd85;
	width: 8px;
	height: 39px;
	transform: translate3d(17vw, 35vh, 0) rotate(122deg);
}

.light-green::after {
	-webkit-animation: light-green-pseudo linear 20s alternate infinite;
	animation: light-green-pseudo linear 20s alternate infinite;
	border: 2px solid #98fd85;
	width: 30px;
	height: 37px;
	transform: translate3d(67vw, 40vh, 0) rotate(93deg);
}

@-webkit-keyframes light-green {
	50% {
		transform: translate3d(31vw, 93vh, 0);
	}
	100% {
		transform: translate3d(12vw, 51vh, 0);
	}
}

@keyframes light-green {
	50% {
		transform: translate3d(31vw, 93vh, 0);
	}
	100% {
		transform: translate3d(12vw, 51vh, 0);
	}
}

@-webkit-keyframes light-green-pseudo {
	33% {
		transform: translate3d(33vw, -76vh, 0) rotate(155deg);
	}
	100% {
		transform: translate3d(42vw, -18vh, 0) rotate(145deg);
	}
}

@keyframes light-green-pseudo {
	33% {
		transform: translate3d(33vw, -76vh, 0) rotate(155deg);
	}
	100% {
		transform: translate3d(42vw, -18vh, 0) rotate(145deg);
	}
}

.lime {
	-webkit-animation: lime linear 30s alternate infinite;
	animation: lime linear 30s alternate infinite;
	border: 2px solid #befb46;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	transform: translate3d(56vw, 80vh, 0);
	z-index: 1;
}

.lime::before {
	-webkit-animation: lime-pseudo linear 15s alternate infinite;
	animation: lime-pseudo linear 15s alternate infinite;
	background: #befb46;
	border: 2px solid #befb46;
	width: 27px;
	height: 17px;
	transform: translate3d(-34vw, -8vh, 0) rotate(309deg);
}

.lime::after {
	-webkit-animation: lime-pseudo linear 20s alternate infinite;
	animation: lime-pseudo linear 20s alternate infinite;
	border: 2px solid #befb46;
	width: 26px;
	height: 27px;
	transform: translate3d(-1vw, -4vh, 0) rotate(32deg);
}

@-webkit-keyframes lime {
	50% {
		transform: translate3d(23vw, 35vh, 0);
	}
	100% {
		transform: translate3d(84vw, 6vh, 0);
	}
}

@keyframes lime {
	50% {
		transform: translate3d(23vw, 35vh, 0);
	}
	100% {
		transform: translate3d(84vw, 6vh, 0);
	}
}

@-webkit-keyframes lime-pseudo {
	33% {
		transform: translate3d(-10vw, -18vh, 0) rotate(199deg);
	}
	100% {
		transform: translate3d(-51vw, 72vh, 0) rotate(226deg);
	}
}

@keyframes lime-pseudo {
	33% {
		transform: translate3d(-10vw, -18vh, 0) rotate(199deg);
	}
	100% {
		transform: translate3d(-51vw, 72vh, 0) rotate(226deg);
	}
}

.magenta {
	-webkit-animation: magenta linear 30s alternate infinite;
	animation: magenta linear 30s alternate infinite;
	border: 2px solid #6c046c;
	border-radius: 100%;
	width: 14px;
	height: 14px;
	transform: translate3d(28vw, 90vh, 0);
	z-index: 5;
}

.magenta::before {
	-webkit-animation: magenta-pseudo linear 15s alternate infinite;
	animation: magenta-pseudo linear 15s alternate infinite;
	background: #6c046c;
	border: 2px solid #6c046c;
	width: 39px;
	height: 31px;
	transform: translate3d(27vw, -52vh, 0) rotate(182deg);
}

.magenta::after {
	-webkit-animation: magenta-pseudo linear 20s alternate infinite;
	animation: magenta-pseudo linear 20s alternate infinite;
	border: 2px solid #6c046c;
	width: 9px;
	height: 43px;
	transform: translate3d(-8vw, -44vh, 0) rotate(106deg);
}

@-webkit-keyframes magenta {
	50% {
		transform: translate3d(66vw, 96vh, 0);
	}
	100% {
		transform: translate3d(1vw, 37vh, 0);
	}
}

@keyframes magenta {
	50% {
		transform: translate3d(66vw, 96vh, 0);
	}
	100% {
		transform: translate3d(1vw, 37vh, 0);
	}
}

@-webkit-keyframes magenta-pseudo {
	33% {
		transform: translate3d(-10vw, -61vh, 0) rotate(80deg);
	}
	100% {
		transform: translate3d(7vw, -12vh, 0) rotate(126deg);
	}
}

@keyframes magenta-pseudo {
	33% {
		transform: translate3d(-10vw, -61vh, 0) rotate(80deg);
	}
	100% {
		transform: translate3d(7vw, -12vh, 0) rotate(126deg);
	}
}

.lightish-red {
	-webkit-animation: lightish-red linear 30s alternate infinite;
	animation: lightish-red linear 30s alternate infinite;
	border: 2px solid #f04c81;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	transform: translate3d(96vw, 90vh, 0);
	z-index: 8;
}

.lightish-red::before {
	-webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
	animation: lightish-red-pseudo linear 15s alternate infinite;
	background: #f04c81;
	border: 2px solid #f04c81;
	width: 14px;
	height: 36px;
	transform: translate3d(-47vw, -9vh, 0) rotate(35deg);
}

.lightish-red::after {
	-webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
	animation: lightish-red-pseudo linear 20s alternate infinite;
	border: 2px solid #f04c81;
	width: 40px;
	height: 11px;
	transform: translate3d(-35vw, -75vh, 0) rotate(103deg);
}

@-webkit-keyframes lightish-red {
	50% {
		transform: translate3d(74vw, 68vh, 0);
	}
	100% {
		transform: translate3d(32vw, 68vh, 0);
	}
}

@keyframes lightish-red {
	50% {
		transform: translate3d(74vw, 68vh, 0);
	}
	100% {
		transform: translate3d(32vw, 68vh, 0);
	}
}

@-webkit-keyframes lightish-red-pseudo {
	33% {
		transform: translate3d(-55vw, 29vh, 0) rotate(309deg);
	}
	100% {
		transform: translate3d(21vw, -33vh, 0) rotate(354deg);
	}
}

@keyframes lightish-red-pseudo {
	33% {
		transform: translate3d(-55vw, 29vh, 0) rotate(309deg);
	}
	100% {
		transform: translate3d(21vw, -33vh, 0) rotate(354deg);
	}
}

.pink {
	-webkit-animation: pink linear 30s alternate infinite;
	animation: pink linear 30s alternate infinite;
	border: 2px solid #ff4293;
	border-radius: 100%;
	width: 43px;
	height: 43px;
	transform: translate3d(15vw, 80vh, 0);
	z-index: 1;
}

.pink::before {
	-webkit-animation: pink-pseudo linear 15s alternate infinite;
	animation: pink-pseudo linear 15s alternate infinite;
	background: #ff4293;
	border: 2px solid #ff4293;
	width: 26px;
	height: 38px;
	transform: translate3d(-12vw, -66vh, 0) rotate(141deg);
}

.pink::after {
	-webkit-animation: pink-pseudo linear 20s alternate infinite;
	animation: pink-pseudo linear 20s alternate infinite;
	border: 2px solid #ff4293;
	width: 39px;
	height: 39px;
	transform: translate3d(-3vw, -66vh, 0) rotate(344deg);
}

@-webkit-keyframes pink {
	50% {
		transform: translate3d(57vw, 14vh, 0);
	}
	100% {
		transform: translate3d(44vw, 63vh, 0);
	}
}

@keyframes pink {
	50% {
		transform: translate3d(57vw, 14vh, 0);
	}
	100% {
		transform: translate3d(44vw, 63vh, 0);
	}
}

@-webkit-keyframes pink-pseudo {
	33% {
		transform: translate3d(33vw, 31vh, 0) rotate(341deg);
	}
	100% {
		transform: translate3d(-11vw, 25vh, 0) rotate(92deg);
	}
}

@keyframes pink-pseudo {
	33% {
		transform: translate3d(33vw, 31vh, 0) rotate(341deg);
	}
	100% {
		transform: translate3d(-11vw, 25vh, 0) rotate(92deg);
	}
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

@media(min-width: 768px) {
	.title:hover,
	.name:hover {
		color: var(--cyan);
		cursor: pointer;
	}
	.image:hover {
		transition: scale(1.1);
	}
	.overlay:hover {
		opacity: 1;
		cursor: pointer;
		transition: all 500ms ease-in;
	}
}